* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #F6F6F6;
    margin: 0;
    padding: 0;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
}